__pycache__/, venv/, .env
# Bases de datos locales
data/*.db
*.sqlite3

# Archivos temporales de Python y entornos virtuales
__pycache__/
.venv/

# Archivos temporales de Microsoft Office
~$*
*.tmp

# Ignorar reportes y documentos de Word
*.docx
Reporte de avance.docx
docs/
